*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-style:italic; */
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
}

body{
    width: 99%;
    height: 100%;
}

.bg{
     position: sticky;   /* ✅ SCROLL KE SAATH CHIPKI RAHEGI */
  top: 0;
    padding: 4px;
    max-width: 100vw;
    height: 50px;
    background-color: rgba(255,255,255,0.9);;
   backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  z-index: 1000;
}

.menubar{
     position: sticky;   /* ✅ SCROLL KE SAATH CHIPKI RAHEGI */
     top: 0;
     display: flex;
     justify-content: flex-end;
     gap: 30px;       /* sabhi ke beech gap */
     padding-right: 30px;
    
}

#logo{
   width:30px;
   height:30px;
   border-radius: 50%;
   border: 1px solid transparent;
  }

.gt64{
  gap: 5px;
   position: fixed;
   /* left: 30px; */
   border-radius: 20px;
   z-index: 1001;
    padding: 5px 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
}

.gt64:hover {
   border: 2px solid #63888a;
  background-color: #ffffff;
  color: #0011ff;
  box-shadow: 0 0 10px #3fd0d8;
  transform: scale(1.05);
}

.menubar div {
  padding: 10px 18px;
  border-radius: 20px;
  border: 2px solid transparent;   /* Pehle invisible border */
  transition: all 0.3s ease;       /* Smooth animation */
  cursor: pointer;
}

.menubar div:hover {
  border: 2px solid #63888a;
  background-color: #ffffff;
  color: #0011ff;
  box-shadow: 0 0 10px #3fd0d8;
  transform: scale(1.05);
}

.tagline {
  text-align: center;
  margin-top: 20px;
  color: red;
  letter-spacing: 2px;
}

img{
  width: 100%;
 height: 20%;
  animation:  up 2s ease 0.001s normal;
}

@keyframes up {
    from{
        transform: translateY(50px);
        opacity: 0%;
    }
    to
    {
        transform: translateY(0px);
        opacity: 100%;
    }
}



.img-split-box {
  position: relative;
  width: 100%;
  max-width: 950px;
  margin: auto;
  overflow: hidden;
  border-radius: 30px;
}

@media (min-width:1300px) and (max-width:1700px){
   .img-split-box{
     max-width: 1200px;
   }
}

@media (min-width:1700px) and (max-width:3000px){
   .img-split-box{
     max-width: 1800px;
   }
}

/* REAL IMAGE */
.img-split-box img {
  width: 100%;
  display: block;
  border-radius: 30px;
}


.slice{
  position: absolute;
  top: 10;
  width: 50%;
  height: 100%;
  background-image: url("GT 64 banner.jpg");
  background-size: 400% 100%;
  transition: .6s ease;
}
.s1{
  position: absolute;
  top: 10;
  width: 100%;
  height: 100%;
  /* float: right; */
  background-image: url("GT 64 banner.jpg");
  background-position: cover;
  background-size: 400% 100%;
  transition: .6s ease;
}

.s1 { top: 0%;   background-position:   86.8% 0; }
.s2 { top: 0%; background-position:  0% 0; }

/* ✅ HOVER SPLIT EFFECT */
.img-split-box:hover .s1 { transform: translateX(-100%); }
.img-split-box:hover .s2 { transform: translateX(200%);  }

/* GLOW EFFECT */
.img-split-box:hover {
  box-shadow: 0 0 25px #00f2ff;
}


.latest{
    font-size: 20px;
    border: 2px solid transparent;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    padding: 10px;
    margin: 20px;
     background-color: rgba(255,255,255,1);;
   backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgb(19, 40, 224);
  color: blue;
   box-shadow: 0 0 25px #1b26b8;
}

#container {
  width: 97.7%;
  border: 20px solid transparent;
   box-shadow: 0 0 25px #1f2020;
  border-radius: 20px;
  /* gap: 20px; */
  column-gap: 100px;
  row-gap: 70px;
  padding: 20px;
  padding-bottom: 10px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}

  #vid{
    width: 400px;
    height: 250px;
    border: 2px solid transparent;
     box-shadow: 0 0 25px #00f2ff;
  }

  
  .vid-con{
    font-size: 16px;
    border: 2px solid transparent;
     box-shadow: 0 0 25px #00f2ff;
    transition: all .6s ease;

  }

   .vid-con:hover{
     transform: scale(1.05);
     transition: all .6s ease;
     cursor: pointer;
  }

  .bottom{
     display: flex;
     gap: 300px;
     padding-top: -20px;
     padding-bottom: 10px;
  } 
 
.challenge{
    font-size: 20px;
    border: 2px solid transparent;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    padding: 10px;
    margin: 20px;
    margin-top: 100px;
     background-color: rgba(255,255,255,1);;
   backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgb(19, 40, 224);
  color: blue;
   box-shadow: 0 0 25px #1b26b8;
}
  
#vid_2{
    width: 400px;
    height: 250px;
    border: 2px solid transparent;
     box-shadow: 0 0 25px #00f2ff;
  }

  
  .vid_2-con{
    font-size: 16px;
    border: 2px solid transparent;
     box-shadow: 0 0 25px #00f2ff;
    transition: all .6s ease;
  }


 .full-toggle{
   position: absolute;
   top:60px;
   cursor: pointer;
 }

 .change-mode-text{
  width: 120px;
   position: relative;
   top: -17px;
   left: 48px;
   background-color: white;
 }

.box {
  width: 40px;
  height: 20px;
  background: #dddddd;
  border: 2px solid;
  display: flex;
  cursor: pointer;
  user-select: none;
  transition: .3s;
  border-radius: 10px;
}

/* Toggle ON */
#toggle:checked + .box {
  background: #0505056e; /* your toggle color */
  color: rgb(255, 255, 255);
  transform: scale(1.02);
}

.inner{
   width: 20px;
   height: 16px;
   border: 2px solid;
   border-radius: 20px 0 0 20px;
   background-color: rgb(255, 255, 255);
   cursor: pointer;
}

.achivements{
    font-size: 20px;
    border: 2px solid transparent;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    padding: 10px;
    margin: 20px;
    margin-top: 100px;
     background-color: rgba(255,255,255,1);
   backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgb(19, 40, 224);
  color: blue;
   box-shadow: 0 0 25px #1b26b8;
}


.about-h{
    font-size: 20px;
    border: 2px solid transparent;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    padding: 10px;
    margin: 20px;
    margin-top: 100px;
     background-color: rgba(255,255,255,1);;
   backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgb(224, 19, 19);
  color: rgb(110, 20, 20);
   box-shadow: 0 0 25px #ff1d1d;
}

.about-logo{
  height: 500px;
  width: 500px;
  filter: saturate(2);
  border: 2px solid transparent;
  border-radius: 50%;
    box-shadow: 0 0 25px #d64806;
    margin: 20px;
}

.about-logo:hover{
   cursor: pointer;
   transform: scale(0.99);
  }

.about-para{
  height: 500px;
  width: 1000px;
   margin-top: 130px;
  text-align: left;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 40px;
}

.about-con{
  display: flex;
  justify-content: start;
  width: 98%;
  height: 500px;
 gap: 30px;
}

 .image-slider{
  display: flex;
  align-items: center;
    height: 320px;
    width: 98%;
    border: 2px solid transparent;
    box-shadow: 0 0 25px #0f0f0f;
    overflow: hidden;
    margin: 20px;
 }

 .img{
   height: 300px;
   width: 300px;
   box-shadow: 0 0 25px #d9ff00;
 }

 .con-page{
   height: 500px;
   width: 98%;
  margin: 20px;
 }

 .con-img{
   height: 500px;
   filter: saturate(2);
 }

 .contactus{
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
     top: -480px;
     left: 20px;
     color: rgb(255, 255, 255);
     font-size: 40px;
    z-index: 999;
 }

 .info{
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
   position: relative;
     top: -450px;
     left: 20px;
     color: white;
     font-size: 30px;
     line-height: 40px;
    z-index: 999;
 }


  .list{
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
   position: relative;
     top: -500px;
     color: white;
     font-size: 30px;
     line-height: 40px;
    z-index: 999;
 }

 @media (min-width:200px) and (max-width:1000px){
   .about-para{
       height: 500px;
       width: 1000px;
        margin-top: 30px;
       text-align: left;
       font-size: 20px;
       letter-spacing: 2px;
       line-height: 30px;
   }
   .about-logo{
      height: 300px;
      width: 300px;
   }
    .about-con{
      height: 250px;
    }
   
 }

 @media (min-width:200px) and (max-width:1000px){
    #container{
       column-gap: 50px;
    }
 }

/* contact page */

  .contact-container{
    background: linear-gradient(#fff7f9,#ffdad5,#fff7f9);
     height: 700px;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    }

    .contact-left{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }

    .contact-left-title h2{
      font-weight: 600;
      color: #a363aa;
      font-size: 40px;
      margin-bottom: 5px;
    }
  
    .contact-left-title hr{
       border: none;
       width: 120px;
       height: 5px;
       background-color: #a363aa;
       border-radius: 10px;
       margin-bottom: 20px;
    }

    .contact-inputs{
       width: 400px;
       height: 50px;
       border: none;
       outline: none;
       padding-left: 25px;
       font-weight: 500;
       color:#666;
       border-radius: 50px;
    }

    .contact-left textarea{
      height: 140px;
      padding-top: 15px;
      border-radius: 20px;
    }

    .contact-inputs:focus{
       border: 2px solid #ff994f;
    }

    .contact-inputs::placeholder{
       color: #a9a9a9;
    }

    .contact-left button{
      display: flex;
      align-items: center;
      padding: 15px 30px;
      font-size: 16px;
      color: #fff;
      gap: 10px;
      border: none;
      border-radius: 50px;
      background: linear-gradient(270deg,#ff994f,#fa6d86);
      cursor: pointer;
    }

    .contact-left img{
       height: 15px;
    }

    .contact-right img{
       width: 500px;
    }

    @media (min-width:200px) and (max-width:1000px) {
       .contact-inputs{
         width: 80vw;
       }
       .contact-right{
         display: none;
       }
    }

    .whatsapp{  
     transform: scale(2);
     position: relative;
     bottom: 52px;
     left: 155px;
    }

    .insta{
       transform: scale(2);
     position: relative;
     bottom: 90px;
     left: 200px;
    }

    .footer{
       height: 50px;
    }
  .copyright{
    padding: 20px,0;
    text-align: center;
  }

  .footer h5 {
  font-size: 14px;
  color: #444;
}

.fix-scroll{
  display: flex;
  align-items: center;
  justify-content: center;
   height: 50px;
   width: 50px;
   background-color: #033cf8;
   background: linear-gradient(45deg,#25dd55,#15ffed);
   border: 2px solid black;
   border-radius: 50%;
   position: sticky;
   left: 95vw;
   bottom: 20px;
   box-shadow: 0 0 25px #2f00ff;
}

.fa-solid{
    transform: scale(2);
}

 @media (min-width:200px) and (max-width:1000px){
    .fix-scroll{
       height: 80px;
   width: 80px;
    position: sticky;
   left: 90vw;
   bottom: 20px;
 }
 }

 @media (min-width:200px) and (max-width:1000px){
   .contact-container{
     height: 500px;
   }
 }

 .snow{
  height: 4500px;
  width: 99%;
   position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  z-index: 999;
  filter: opacity(0.5);
 }